source/index.pug
- var css = 'main.css'
- var js = 'main.js'
- var jsExt = 'https://cdnjs.cloudflare.com/ajax/libs/hyperapp/0.9.3/hyperapp.js'
doctype html
html(lang='en')
  head
    link(rel='manifest', href='manifest.json')
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(content='width=device-width, initial-scale=1', name='viewport')
    title HN :: hyperapp + bourbon
    meta(name='theme-color', content='#000000')
    link(rel='shortcut icon' href='favicon.ico')
    link(rel='preload', as='style' href=css)
    link(rel='stylesheet' href=css)
    link(rel='preload', as='script' href=jsExt)
    link(rel='preload', as='script' href=js)
  body
    header.navigation(role='banner')
      nav
        ul.main
          li
            a.selected(href='/') Top
          li
            a(href='/newest/1') New
          li
            a(href='/ask/1') Ask
          li
            a(href='/show/1') Show
          li
            a(href='/jobs/1') Jobs
    #container
      .content
        .points 50
        .info
          .title
            a(href='#', rel='noopener', target='_blank')
              |  (righto.com) Bitcoin mining on a vintage Xerox Alto: very slow at 1.5 hashes/second
          .stats
            span.user
              a(href='/user/user') by user
            span.time 2 hours ago
            span.comments
              a(href='/item/1234') 23 comments
      .content
        .points 50
        .info
          .title
            a(href='#', rel='noopener', target='_blank')
              |  (righto.com) Bitcoin mining on a vintage Xerox Alto: very slow at 1.5 hashes/second
          .stats
            span.user
              a(href='/user/user') by user
            span.time 2 hours ago
            span.comments
              a(href='/item/1234') 23 comments
      .content
        .points 50
        .info
          .title
            a(href='#', rel='noopener', target='_blank')
              |  (righto.com) Bitcoin mining on a vintage Xerox Alto: very slow at 1.5 hashes/second
          .stats
            span.user
              a(href='/user/user') by user
            span.time 2 hours ago
            span.comments
              a(href='/item/1234') 23 comments
      .content
        .points 50
        .info
          .title
            a(href='#', rel='noopener', target='_blank')
              |  (righto.com) Bitcoin mining on a vintage Xerox Alto: very slow at 1.5 hashes/second
          .stats
            span.user
              a(href='/user/user') by user
            span.time 2 hours ago
            span.comments
              a(href='/item/1234') 23 comments
      .content
        .points 50
        .info
          .title
            a(href='#', rel='noopener', target='_blank')
              |  (righto.com) Bitcoin mining on a vintage Xerox Alto: very slow at 1.5 hashes/second
          .stats
            span.user
              a(href='/user/user') by user
            span.time 2 hours ago
            span.comments
              a(href='/item/1234') 23 comments
      .content
        .points 50
        .info
          .title
            a(href='#', rel='noopener', target='_blank')
              |  (righto.com) Bitcoin mining on a vintage Xerox Alto: very slow at 1.5 hashes/second
          .stats
            span.user
              a(href='/user/user') by user
            span.time 2 hours ago
            span.comments
              a(href='/item/1234') 23 comments
    script(src=jsExt)
    script(src=js)

public/index.html
<!DOCTYPE html><html lang="en"><head><link rel="manifest" href="manifest.json"><meta http-equiv="content-type" content="text/html; charset=utf-8"><meta content="width=device-width, initial-scale=1" name="viewport"><title>HN :: hyperapp + bourbon</title><meta name="theme-color" content="#000000"><link rel="shortcut icon" href="favicon.ico"><link rel="preload" as="style" href="main.css"><link rel="stylesheet" href="main.css"><link rel="preload" as="script" href="https://cdnjs.cloudflare.com/ajax/libs/hyperapp/0.9.3/hyperapp.js"><link rel="preload" as="script" href="main.js"></head><body><header class="navigation" role="banner"><nav><ul class="main"><li><a class="selected" href="/">Top</a></li><li><a href="/newest/1">New</a></li><li><a href="/ask/1">Ask</a></li><li><a href="/show/1">Show</a></li><li><a href="/jobs/1">Jobs</a></li></ul></nav></header><div id="container"><div class="content"><div class="points">50</div><div class="info"><div class="title"><a href="#" rel="noopener" target="_blank"> (righto.com) Bitcoin mining on a vintage Xerox Alto: very slow at 1.5 hashes/second</a></div><div class="stats"><span class="user"><a href="/user/user">by user</a></span><span class="time">2 hours ago</span><span class="comments"><a href="/item/1234">23 comments</a></span></div></div></div><div class="content"><div class="points">50</div><div class="info"><div class="title"><a href="#" rel="noopener" target="_blank"> (righto.com) Bitcoin mining on a vintage Xerox Alto: very slow at 1.5 hashes/second</a></div><div class="stats"><span class="user"><a href="/user/user">by user</a></span><span class="time">2 hours ago</span><span class="comments"><a href="/item/1234">23 comments</a></span></div></div></div><div class="content"><div class="points">50</div><div class="info"><div class="title"><a href="#" rel="noopener" target="_blank"> (righto.com) Bitcoin mining on a vintage Xerox Alto: very slow at 1.5 hashes/second</a></div><div class="stats"><span class="user"><a href="/user/user">by user</a></span><span class="time">2 hours ago</span><span class="comments"><a href="/item/1234">23 comments</a></span></div></div></div><div class="content"><div class="points">50</div><div class="info"><div class="title"><a href="#" rel="noopener" target="_blank"> (righto.com) Bitcoin mining on a vintage Xerox Alto: very slow at 1.5 hashes/second</a></div><div class="stats"><span class="user"><a href="/user/user">by user</a></span><span class="time">2 hours ago</span><span class="comments"><a href="/item/1234">23 comments</a></span></div></div></div><div class="content"><div class="points">50</div><div class="info"><div class="title"><a href="#" rel="noopener" target="_blank"> (righto.com) Bitcoin mining on a vintage Xerox Alto: very slow at 1.5 hashes/second</a></div><div class="stats"><span class="user"><a href="/user/user">by user</a></span><span class="time">2 hours ago</span><span class="comments"><a href="/item/1234">23 comments</a></span></div></div></div><div class="content"><div class="points">50</div><div class="info"><div class="title"><a href="#" rel="noopener" target="_blank"> (righto.com) Bitcoin mining on a vintage Xerox Alto: very slow at 1.5 hashes/second</a></div><div class="stats"><span class="user"><a href="/user/user">by user</a></span><span class="time">2 hours ago</span><span class="comments"><a href="/item/1234">23 comments</a></span></div></div></div></div><script src="https://cdnjs.cloudflare.com/ajax/libs/hyperapp/0.9.3/hyperapp.js"></script><script src="main.js"></script></body></html>
